body,
html {
  height: 100%;
  font-family: sans-serif;
}
.parallax [class*="pxbg__"] {
  position: relative;
  height: 50vh;
  text-indent: -9999px;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
.parallax [class*="pxbg__"]:nth-child(2n) {
  box-shadow: inset 0 0 1em #111;
}
.parallax .pxbg__foo,
.parallax .pxbg__bazz {
  height: 100vh;
}
.parallax .pxbg__foo {
  background-image: url(src/p1.jpeg);
}
.parallax .pxbg__bar {
  background-image: url(src/p1.jpeg);
}

.parallax .pxbg__bazz {
  background-image: url(src/p1.jpeg);
}

.parallaxContent {
  font-family: lato, avenir next, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding: 2em 0;
  text-align: center;
}
.parallaxContent.green {
  background: #97ce68;
}
.parallaxContent.baby {
  background: #68c8ce;
}
footer {
  font-family: lato, avenir next, Arial, sans-serif;
  background-color: #f1f1eb;
  color: #2e2e17;
  font-size: 1em;
  font-weight: 300;
  line-height: 25px;
  padding: 1em;
  position: relative;
  text-align: center;
}
